name: Build PDF

on: 
  push:
    paths-ignore:
      - '**.md'
jobs: 
  build-latex:
    runs-on: ubuntu-latest
    steps: 
      - uses: actions/checkout@v4

      - name: Set up TeX Live
        uses: teatimeguest/setup-texlive-action@v2

      - name: Install latexmk and packages
        run: sudo apt-get update && sudo apt-get install -y latexmk

      - name: Compile LaTeX document
        run: latexmk -pdf main.tex

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: notes-pdf
          path: main.pdf
